<modal [show]="shift != null" (hide)="cancel()" [title]="getTitle()" size="md">
    <div body *ngIf="shift != null">
        <errors [errors]="errors"></errors>
        <form name="assignShiftForm">
            <div class="form-group">
                <label>Shift</label>
                <select class="form-control" [(ngModel)]="shift.shift_id" name="shift_id">
                    <option *ngFor="let s of shifts" [value]="s.id">{{s.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Start Date</label>
                <datepicker [(value)]="shift.started_on"></datepicker>
            </div>
            <div class="form-group">
                <label>End Date</label>
                <datepicker [(value)]="shift.ended_on"></datepicker>
            </div>
        </form>
    </div>
    <div footer>
        <btn type="primary" (click)="save()">Assign</btn>
    </div>
</modal>