<modal [show]="department !== null"
             (hide)="onCancel.emit()"
             title="Edit Department"
>
    <div *ngIf="department !== null" body>

        <errors [errors]="errors"></errors>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="department.name">
        </div>

        <div class="form-group">
                <label>Parent</label>              
                <select class="form-control" [(ngModel)]="department.parent_id" >
                    <option  *ngFor="let d of departments.data" [value]="d.id"  >{{d.name}}</option>
                </select>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"
                      rows="4"
                      [(ngModel)]="department.description"
            ></textarea>
        </div>
    </div>
    <div footer>
        <btn
                type="primary"
                (click)="save()"
                icon="fa fa-check-circle-o">
            Save
        </btn>
    </div>
</modal>
