<div>
    <div style="width: 400px; margin: auto">

        <div class="login-logo text-center">
            <img src="/images/logo_peopleSonic.png" />
        </div>

        <div class="login-box ibox">

            <div class="ibox-content">
                <p class="login-box-msg"><strong></strong></p>

                <errors [errors]="errors"></errors>
                <div class="alert alert-success" *ngIf="success">
                    A link for the password reset has been sent to your email. 
                </div>

                <form>
                    <div class="form-group has-feedback">
                        <label>Reset your password?</label>
                        <input type="email"
                               name="email"
                               id="email"
                               class="form-control"
                               placeholder="Enter your email"
                               [(ngModel)]="email"
                        >
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                </form>
                <button class="btn btn-primary btn-block btn-flat"
                        [disabled]="busy"
                        (click)="submit()">
                    <span class="fa fa-spin fa-circle-o-notch" *ngIf="busy"></span>
                    <span *ngIf="!busy">Send Link</span>

                </button>
            </div>
        </div>
    </div>
</div>

<div class="login-footer">
        <span>
        Copyright {{ copyrightYear }} @ PeopleSonic · All rights reserved. | Terms of service | Privacy policy
        </span>
</div>
