<div>
    <div style="width: 400px; margin: auto">

        <div class="login-logo text-center">
            <img src="/images/logo_peopleSonic.png" />
        </div>

        <div class="login-box ibox">

            <div class="ibox-content" *ngIf="success">
                <div class="alert alert-success" *ngIf="success">
                    Your password has been reset successfully. Please Login to continue. 
                </div>
                <a class="btn btn-primary btn-block btn-flat"
                    [routerLink] = "['/login']"    
                    >
                    <span>Login</span>
                </a>

            </div>
            <div class="ibox-content" *ngIf="!success">
                <p class="login-box-msg"><strong></strong></p>

                <errors [errors]="errors"></errors>
                

                <form>
                   <label style="font-size: 14px;"> Choose a new password </label>
                    <div class="form-group has-feedback">
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               [(ngModel)]="password"
                               (keyup)="onKeyPress($event)"
                               placeholder="Password"
                        >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password"
                               name="confirm_password"
                               id="confirm_password"
                               class="form-control"
                               [(ngModel)]="confirm_password"
                               (keyup)="onKeyPress($event)"
                               placeholder="Confirm Password"
                        >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                </form>
                <button class="btn btn-primary btn-block btn-flat"
                        [disabled]="busy"
                        (click)="submit()">
                    <span class="fa fa-spin fa-circle-o-notch" *ngIf="busy"></span>
                    <span *ngIf="!busy">Submit</span>

                </button>
            </div>
        </div>
    </div>
</div>

<div class="login-footer">
        <span>
        Copyright {{ copyrightYear }} @ PeopleSonic · All rights reserved. | Terms of service | Privacy policy
        </span>
</div>
