.login-box {
}
.login-footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    background: #2F4050;
}
.login-logo {
    margin-top: 50px;
    margin-bottom: 20px;
}