.profile-view {
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-view .profile-cover {
    background: url("/images/profile-cover.png");
    height: 120px;
    width: 100%;
}
.profile-view .profile-img {
    position: absolute;
    top:42px;
    border: 5px solid #FFF;
    width: 150px;
    height: 150px;
}
.profile-view .profile-detail-body {
    margin-top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}
