<add-designation [designation]="addDesignation"
                 (onAdded)="added($event)"
                 (onHide)="addDesignation = null"
></add-designation>
<edit-designation [designation]="editDesignation"
                  (onUpdated)="updated($event)"
                  (onHide)="editDesignation = null"
></edit-designation>

<page-header title="Designation">

</page-header>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <box [busy]="fetching">
                <div header>
                    <h5>Designations</h5>
                    <div class="pull-right" >
                        <!--<a class="btn btn-primary btn-xs" routerLink="/designations/tree">-->
                            <!--<i class="fa fa-tree"></i> Tree-->
                        <!--</a>-->
                        <button class="btn btn-primary btn-xs"
                                (click)="addDesignation = {}"
                                *ngIf="permission.can('Core.manage_designations')">
                            <i class="fa fa-plus"></i> Designation
                        </button>
                    </div>
                </div>
                <div class="ibox-content" body>
                    <retry [show]="failed" (retry)="fetchDesignations()"></retry>
                    <table class="table table-stripped" *ngIf="fetched && !fetching">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Employees</th>
                            <th *ngIf="auth.hasModule('Review')==true"  >Review template</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let d of designations">
                            <td data-label="Name"><a [routerLink]="['/','employees',d.id, 'designation_id']">{{ d.name }}</a></td>
                            <td data-label="Employees">{{ d.number_of_employees }}</td>
                            <td data-label="Template" *ngIf="auth.hasModule('Review')==true" >{{ d.template_name || '...'}}</td>
                            <td data-label="Actions">
                                <div *ngIf="permission.can('Core.manage_designations')">
                                    <button (click)="edit(d)"
                                            class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button (click)="destroy(d)"
                                            class="btn btn-xs btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </box>
        </div>
    </div>
</div>

<confirm #confirm></confirm>
<alert #alert></alert>
