<modal [show]="clock != null"
       (hide)="onHide.emit()"
       title="Create Clock">
    <div body>
        <errors [errors]="errors"></errors>
        <form name="editClockForm" *ngIf="clock">
            <div class="form-group">
                <label>Employee</label>
                <select2 [src]="'/core/api/v1/employees/list'"
                         [(value)]="clock.employee_id"
                         [format]="'{first_name} {last_name}'"
                         *ngIf="permission.can('Attendance.manage_attendance') || !permission.can('Attendance.manage_attendance_own')" 
                >
                </select2>
                <input type="text" class="form-control" [value]="employee.first_name+' '+employee.last_name" readonly 
                *ngIf="!permission.can('Attendance.manage_attendance') && permission.can('Attendance.manage_attendance_own')"  >
            </div>
            <div class="form-group">
                <label>In at</label>
                <datetime-picker [(value)]="clock.in_at"
                                 [format]="'YYYY-MM-DD HH:mm:ss'">
                </datetime-picker>
            </div>
            <div class="form-group" >
                <label>Out at</label>
                <datetime-picker [(value)]="clock.out_at"
                                 [format]="'YYYY-MM-DD HH:mm:ss'">
                </datetime-picker>
            </div>
        </form>
    </div>
    <div footer>
        <button class="btn btn-primary"
                (click)="save()">
            <i class="fa fa-check-circle-o"></i>
            Create
        </button>
    </div>
</modal>
